html,
body {
    font-size: 18px;
    line-height: 1.6;
    margin:0;
    padding:0;
    height:100%;
}

/* COLORS */
#blue {
    background-color: #F7F9FA;
}

.glyphicon-cog {
    color: #B8BBBE;
}

.text-success {
    color: #19AA4C;
}


/* HEAD NAVBAR */
.row {
    min-height: 50px;
}

#container {
    min-height:100%;
    position:relative;
}
#header {
    padding:10px;
}
#body {
    padding:10px;
    padding-bottom:70px;   /* Height of the footer */
}


/*  NAVBARS */
.nav-tabs > li > a {
    color: black;
}

.nav-tabs > li.active > a  {
    color: #337AB7;
}

.nav-tabs > li.green > a {
    color: #25AD54 !important;
}

.side-panel {
    background-color: #F7F9FA;
    min-height: 300px;
}

.btn-default {
    width: 200px;
    height: 40px;
    background-image: none;
    font-size: 18px;
}

/* PAGINATION */
.my-pagination > li > a {
    border: none;
    color: black;
}

.my-pagination > li.active > a {
    background-color: #E8EDF0;
    color: #337AB7;
}


/* RATING */
.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    color: #C6C9CB;
    border: none;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
    color: #FFB239;
}



/* DROPDOWNS */
.dropdown .my-dropdown  {
    background-color: #f5f5f5;
    border: none;
}

.my-glyphicon {
    width: 30px;
    height: 30px;
    color: #B8BBBE;
    background-color: #F7F9FA;
    text-align: center;
    margin: 3px;
}

#user {
    border: none;
    box-shadow: none;
}

#startup {
    border: none;
    background-color: #F7F9FA;
}

#job-name {
    width: 400px;
}

#job-name > ul .dropdown-menu {
    font-size: 18px;
    min-width: 400px;
}

#job-name-row {
    margin: 20px 0;
}

.dropdown {
    border: none;
    background: #f5f5f5;
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    font-size: 18px;
    min-width: 200px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}


/* LISTS AND LIST GROUPS */
.no-border > .list-group-item {
    border: none;
    background-color: transparent;
}

.no-border > .list-group-item.active,
.no-border > .list-group-item.active:focus,
.no-border > .list-group-item.active:hover {
    border: none;
    background-image: none;
    background-color: #E9F0F3;
    color: #4F95D9;
}

/* FOOTER */
#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:70px;   /* Height of the footer */
    background-color: #383D41;
}

.nav-pills > li > a {
    color: #ffffff;
    font-size: 15px;
    vertical-align: middle;
}

.nav-pills > li > a:hover {
    font-weight: 600;
    font-size: 15px;
    background-color: transparent;
}

.my-year {
    color: #ffffff;
}

/* MAIN APPLICANT LIST*/
.applicant-list li {
    border-left: none;
    border-right: none;
    height: 100px;
    align-items: center;
}

.applicant-list  img {
    width: 80px;
    height: 80px;
    margin: 0 10px;
}

.applicant-list .description {
    font-size: 13px;
    color: darkgrey;
}

.applicant-list .btn-default {

}