
<!DOCTYPE html>
<html lang="cs">
<head>
        <meta charset="utf-8">
        <title>{block title|striptags}StartupJobs.com{/block}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        {* Styles *}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{$basePath}/css/style.css">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
                <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {block head}{/block}
</head>


<body>

    <div id="container">
        <div id="header">

            <!-- LOGO -->
            <div class="row">
                <div class="container">

                <div class="col-md-6">
                    <img class="pull-left" src="{$basePath}/images/logo.jpg">
                    <h1>StartupJobs</h1>
                </div>

                <div class="btn-group pull-right" style="margin-top: 20px;">

                    <!-- Upper dropdowns -->
                    <div class="dropdown my-dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="startup" data-toggle="dropdown">
                            StartupJobs.com
                            <img src="{$basePath}/images/arrow.png"></button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="startup">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">item</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">item</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">item</a></li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">item</a></li>
                        </ul>
                    </div>


                    <div class="dropdown my-dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="user" data-toggle="dropdown">
                            <img src="{$basePath}/images/Erica.jpg" class="img-circle">
                            Erica Scofield
                            <img src="{$basePath}/images/arrow.png"></button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="user">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">item</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">item</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">item</a></li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">item</a></li>
                        </ul>
                    </div>

                </div>


                </div>
            </div>

        </div>



        <!-- NAVBAR -->
        <div class="row" id="blue">
            <div class="container">

                <div class="col-md-12">
                    <h2><strong>Administrace</strong> StartupJobs.com</h2>
                </div>

                <ul class="nav nav-tabs">
                    <li role="presentation" class="green"><a href="#">Přidat nabídku</a></li>
                    <li role="presentation"><a href="#">Nabídky (2)</a></li>
                    <li role="presentation" class="active"><a href="#">Zájemci (9)</a></li>
                    <li role="presentation"><a href="#">Profil</a></li>
                    <li role="presentation"><a href="#">Nastavení</a></li>
                    <li role="presentation"><a href="#">Finance</a></li>
                    <li role="presentation" class="pull-right"><a href="#">Rychlý kontakt</a></li>
                </ul>

            </div>
        </div>

        <!-- MAIN CONTENT -->
        <div id="body">
            {include #content}
        </div>

        <!-- FOOTER -->
        <div id="footer">
            <div class="container">
                <span class="my-year">© 2012-2013 Startupedia s.r.o.</span>

                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="#">Blog</a></li>
                    <li role="presentation"><a href="#">Nabídky</a></li>
                    <li role="presentation"><a href="#">Startupy</a></li>
                    <li role="presentation"><a href="#">O StartupJobs</a></li>
                    <li role="presentation"><a href="#">VOP</a></li>
                    <li role="presentation"><a href="#">Pro média</a></li>
                    <li role="presentation"><a href="#">Kontakt</a></li>
                </ul>
            </div>
        </div>
    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="{$basePath}/js/netteForms.js"></script>
    <script src="{$basePath}/js/main.js"></script>
    {block scripts}{/block}

</body>

</html>