{* Latte template *}

{block content}


<div class="container">

    <!-- Select job -->
    <div class="row text-center" id="job-name-row">
        Zájemci o pozici

        <div class="dropdown my-dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="job-name" data-toggle="dropdown">
                <div class="pull-left">HTML kodér se znalostí PHP (5)</div>
                <img src="{$basePath}/images/arrow.png" class="pull-right">
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="startup">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Item)</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Item</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Item</a></li>
                <li role="presentation" class="divider"></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Item</a></li>
            </ul>
            <span class="glyphicon glyphicon-th-list my-glyphicon text-info"  aria-hidden="true"> </span>
            <span class="glyphicon glyphicon-user my-glyphicon"  aria-hidden="true"> </span>
        </div>
    </div>

    <!-- Actions -->
    <div class="row">
        <div class="col-md-3">
            Postup
            <span class="glyphicon glyphicon-cog pull-right" aria-hidden="true"></span>
        </div>


        <div class="col-md-9">
            Hromadná odpověď (2) Přesunout (2)
            <div class="pull-right">
                1-10 z 28
                <span class="glyphicon glyphicon-chevron-left my-glyphicon"  aria-hidden="true"> </span>
                <span class="glyphicon glyphicon-chevron-right my-glyphicon"  aria-hidden="true"> </span>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Left navbar -->
        <div class="col-md-3">
            <div class="side-panel">
                <ul class="list-group no-border">
                    <li class="list-group-item">Všichni kandidáti<span class="pull-right">26</span></li>
                    <li class="list-group-item active">Noví kandidáti<span class="pull-right">7</span></li>
                    <li class="list-group-item">Pohovor<span class="pull-right">3</span></li>
                    <li class="list-group-item">Druhé Kolo<span class="pull-right">2</span></li>
                    <li class="list-group-item text-success">Přijatí<span class="pull-right">0</span></li>
                    <li class="list-group-item text-danger">Odmítnutí<span class="pull-right">14</span></li>
                </ul>
            </div>
        </div>

        <!-- Main content - list of users -->
        <div class="col-md-9">

            <ul class="list-group applicant-list">
                <li class="list-group-item inline-block">
                    <img src="{$basePath}/images/Hodge.jpg" class="img-circle pull-left">
                    <div class="col-md-6">
                        <h3>Natalie Hodge
                            <span class="rating inline-block">
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </span>
                        </h3>

                        <div class="description">Odesláno 19.11.2013 | <strong class="text-success">nový</strong></div>
                    </div>

                    <div class="btn btn-group pull-right">
                        <div class="btn btn-default">Kontaktovat</div>
                    </div>
                </li>

                <li class="list-group-item">
                    <img src="{$basePath}/images/White.jpg" class="img-circle">
                    Walter White
                </li>
                <li class="list-group-item">
                    <img src="{$basePath}/images/Bates.jpg" class="img-circle">
                    Norman Bates
                </li>
                <li class="list-group-item">
                    <img src="{$basePath}/images/Bazdarev.jpg" class="img-circle">
                    Fritzi J. Bazdarev
                </li>
                <li class="list-group-item">
                    <img src="{$basePath}/images/Downey.jpg" class="img-circle">
                    Robert Downey
                </li>
            </ul>
        </div>

    </div>

    <!-- Pagination -->
    <div class="row text-center">
        <nav>
            <ul class="pagination my-pagination">
                <li><a href="#">1</a></li>
                <li class="active"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">...</a></li>
                <li><a href="#">12</a></li>
            </ul>
        </nav>
    </div>

</div>


{/block}